.resendProduct {

}
.titel_border{
    position: relative;
}
.img_border{
    background: url(../images/head_menu_bg.png) repeat 0 0;
    width: 100%;
    height: 10px;
    float: left;
}
.text_border{
    display: inline-block;
    background-color: #FAFAFA;
    float: left;
}
.buttons_products{
    float: right;
}
.button_products{
    display: inline;
    text-transform: uppercase;
    margin: 1px;
    padding: 1px;
    vertical-align: middle;
    border-radius: 5px;
    -moz-box-shadow: inset 0 0 0 1px rgba(255,255,255, 0.4);
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4);
    border: 1px solid #7A9A0B;
    background: #98B827;
    background: -moz-linear-gradient(top, #98B827 0%, #89a71f 50%, #98B827 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#98B827), color-stop(50%,#89A71F), color-stop(100%,#98B827));
    background: -webkit-linear-gradient(top, #98B827 0%,#89A71F 50%,#98B827 100%);
    background: -o-linear-gradient(top, #98B827 0%,#89a71f 50%,#98B827 100%);
    background: -ms-linear-gradient(top, #98B827 0%,#89a71f 50%,#98B827 100%);
    background: linear-gradient(to bottom, #98B827 0%,#89A71F 50%,#98B827 100%);

    text-align: center;
    color: white;
}

/*<div class="titel_border">*/
/*<div class="img_border"></div>*/
                          /*<h3 class="text_border">recent product</h3>*/
                                                                  /*<div class="buttons_products">*/
/*<div class="button_products">*/
/*&larr;*/
/*</div>*/
  /*<div class="button_products">*/
/*&rarr;*/
/*</div>*/
  /*</div>*/
    /*</div>*/