.resend_product {
   margin-top: 40px;
}

.bh3_header {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    position: relative;
}

.bname {
    display: table;
    height: 40px;
    width: 100%;
}

.name_line {
    background: url(../images/head_menu_bg.png) repeat 0 0;
    width: 100%;
    height: 12px;
}

.header_data, .bname, .bh3, .name_button {
    height: 40px;
}

.header_data {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.bh3 {
    float: left;
    line-height: 40px;
}

.bh3, .name_button {
    background-color: #FAFAFA;
    padding: 0 4px;
}

.name_button {
    float: right;
    line-height: 40px;
}


.button_products{
    display: inline;
    text-transform: uppercase;
    vertical-align: middle;
    border-radius: 5px;
    -moz-box-shadow: inset 0 0 0 1px rgba(255,255,255, 0.4);
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4);
    border: 1px solid #7A9A0B;
    background: #98B827;
    background: -moz-linear-gradient(top, #98B827 0%, #89a71f 50%, #98B827 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#98B827), color-stop(50%,#89A71F), color-stop(100%,#98B827));
    background: -webkit-linear-gradient(top, #98B827 0%,#89A71F 50%,#98B827 100%);
    background: -o-linear-gradient(top, #98B827 0%,#89a71f 50%,#98B827 100%);
    background: -ms-linear-gradient(top, #98B827 0%,#89a71f 50%,#98B827 100%);
    background: linear-gradient(to bottom, #98B827 0%,#89A71F 50%,#98B827 100%);
    width: 25px;
    height: 20px;
    text-align: center;
    color: white;
    position: relative;
    top: -2px;
}

.data{
    overflow: hidden;
    margin-bottom: 10px;
}
.cell{

    float: left;
    height: 342px;
    margin: 0;
    display: inline-block;
    width: 222px;
    background-color: #FFF;
    margin-left: 20px;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
}
.cell:hover{
    border: 1px solid #c9cee8;
}
.cell:first-child{
    margin: 0;
    margin-left: 0px;
}
.imgs{
    position: relative;
    height: 159px;
}
.background_img{
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
}
.sale_img{
    width: 40px;
    position: absolute;
    top: 15px;
    left: 15px;
}
.pesso_cart{
    padding: 0 15px;
    width: 192px;
    display: table-cell;
    vertical-align: middle;
}
.pesso{
    display: block;
    vertical-align: middle;
    line-height: 30px;
    float: left;
}
.add_to_cart{
    display: block;
    float: right;
    vertical-align: middle;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    -moz-box-shadow: inset 0 0 0 1px rgba(255,255,255, 0.4);
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4);
    border: 1px solid #9b9b9b;
    background: #838383;
    background: -moz-linear-gradient(top, #9b9b9b 0%, #838383 50%, #9b9b9b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9b9b9b), color-stop(50%,#838383), color-stop(100%,#9b9b9b));
    background: -webkit-linear-gradient(top, #9b9b9b 0%,#838383 50%,#9b9b9b 100%);
    background: -o-linear-gradient(top, #9b9b9b 0%,#838383 50%,#9b9b9b 100%);
    background: -ms-linear-gradient(top, #9b9b9b 0%,#838383 50%,#9b9b9b 100%);
    background: linear-gradient(to bottom, #9b9b9b 0%,#838383 50%,#9b9b9b 100%);
    padding: 5px 10px;
    color: white;

    text-transform: uppercase;
}
.table_pesso_cart{
    display: table;
    height: 40px;

}
h4{
    margin: 0;
    padding: 0;
}
.data_info{
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    padding: 15px;
    height: 80px;
    overflow: hidden;
}
.cell>a{
    margin-top: 40px;
    padding: 15px;
    color: #98B827;
}
.cell>a>span{
    color: #000;
}
.not{
    display: none;
}

.cell > a {
    background: url(../images/arrow.png) no-repeat 100% 19px;
    padding-right: 10px;
}

.cell > a:hover {
    text-decoration: underline;
}

.white_layer{
    border: 1px solid #e8e8e8;
    margin-left: -1px;
    width: 190px;
    float: left;
    height: 107px;
    background-color: #FFF;
}
.white_layer:first-child{
    margin-left: 0;
}
.brands{
    overflow: hidden;
}
.brands1{
    width: 100%;
    height: 100%;
    background: url("../images/brands/brands1.png") no-repeat center;
}
.brands2{
    width: 100%;
    height: 100%;
    background: url("../images/brands/brands2.png") no-repeat center;
}
.brands3{
    width: 100%;
    height: 100%;
    background: url("../images/brands/brands3.png") no-repeat center;
}
.brands4{
    width: 100%;
    height: 100%;
    background: url("../images/brands/brands4.png") no-repeat center;
}
.brands5{
    width: 100%;
    height: 100%;
    background: url("../images/brands/brands5.png") no-repeat center;
}